@charset "UTF-8";

/* 共通 */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

.font td,th {
  font-weight: 300;
}



/* ヘッダー */

header {
  margin-top: 30px;
  justify-content: center;
  
}

.logo {
  width: 110px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px auto 10px;
}

.main-nav {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 50px;
  font-size: 1rem;
  font-weight: 300;
}

.nav-menu {
  display: flex;
  line-height: 5;
  padding: 0 100px 0px 30px;
  gap: 1rem;
}

.nav-right-menu {
  display: flex;
  line-height: 5;
  padding: 0 100px 0px;
  gap: 15px;
}

/* /* メイン  */

.main {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 0;
}

/* 写真*/
.pic {
  width: 40%;
  margin-right: 30px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
}


/* アイテムインフォ */

.info {
  width: 40%;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;
}

.info-2 {
  width: 100%;
  max-width: 340px;
}

.title {
  border-bottom: 1px solid #c3c3c3;
  border-top: 1px solid #c3c3c3;
  padding: 20px;
  padding-left: 0;
  text-align: left;
  font-size: 1.5rem;

}


.ex {
  padding-bottom: 30px;
  padding-top: 30px;
  line-height: 1.6;
  font-weight: 400;
}

.cart-button {
  display: block;
  padding: 18px 18px;
  margin: 20px 0;
  text-align: center;
  height: auto;
  box-sizing: border-box;
  background-color: #3f3b3b;
  color: #ffffff;
  font-weight: 300;
}


/* テーブル */

.size-table {
  box-sizing: border-box;
  width: 100%;
  max-width: 340px;
  border-collapse: collapse;
  text-align: center;
}

.wide-cell{
  width: 60%;
}

th,
td {
  box-sizing: border-box;
  width: 20%;
  padding: 5px 5px;
  border-bottom: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
}


.last {
  border-bottom: 0;
}

.last2 {
  border-right: 0;
}

select {
  box-sizing: border-box;
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #c3c3c3;
  color: #666;
  border-radius: 5;
  background-color: #fff;
  cursor: pointer;  
  
  /* リセットcssで消えている矢印UIを復活させる */
  appearance: menulist;
  -moz-appearance: menulist;

  
}


/* テーブル2個目 */
.size-table2 {
  box-sizing: border-box;
  width: 100%;
  max-width: 340px;                               
  border-collapse: collapse;
  text-align: center;
  padding: 1rem;
}


.size-table2 th,
.size-table2 td {
  border: 1px solid #333;
  padding: 1rem;
}

.size-table2 th {
  background-color: #f1eded;
  padding: 1rem;
}



/* フッター */
.footer {
  text-align: center;
  margin-top: 100px;
  font-size: 1.5rem;
}