@charset "UTF-8";

/* 共通 */
  html {
  font-size: 62.5%;
  box-sizing:border-box;
}

body {
  color: #333;
  font-size: 1rem;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  /* margin-left: 200px ;
  margin-right:200px;
  max-width: 1000px;
  text-align: center;
  /* display: flex; */
  flex-direction:column; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}




/* ヘッダー */

header {
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content :center;

}
.logo {
  width: 110px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px auto 10px;
}

.main-nav {
  width: 100%;
  display : flex;
  align-items:flex-end;
  justify-content: space-between;
  border-bottom : 1px solid rgb(149, 145, 145);
  margin-bottom: 50px;
  font-size: 1rem;
  font-weight: 300;
}

.nav-menu{
  display : flex;
  line-height: 5;
  padding: 0 100px 0px 30px;
  gap: 1rem;  
}

.nav-right-menu{
  display : flex;
  line-height: 5;
  padding: 0 100px 0px;
  gap: 15px;  
}

/* /* メイン  */

.main {
  display: flex;
  justify-content: center;
  text-align :left;
  margin-bottom: 0 ;
}

/* 写真*/
.pic {
  width: 400px ;
  height: 500px;
  
}


/* アイテムインフォ */

.info {
  width: 200px ;
  margin: 30px 50px 0;
}

h1 {
width: 340px;
height: 60;

border-bottom: 1px solid grey ;
border-top: 1px solid grey ;
padding: 20px;
margin: 0 0 0 0;
}


.ex {
  width: 340px;
  height: 140px;
  
}


















